*{

    padding: 0
    margin: 0;
    
}

html{
    font-size: 62.5%;
}
body {
    background-color: aquamarine;
}
h1 {

font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
font-size: 4rem;
}

.contenedor {
    background: darkmagenta;
    width: 50vw;
    margin: auto;
    height: 50vh;
    border-radius: 50px;
}

p {
    font-size: 4rem;
    text-align: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}